<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.csu.mypetstore.persistence.SupplyMapper">
    <select id="getSupplyList"  resultType="Supply">
        select * from supplier
    </select>
    <!--<select id="getCategoryList" parameterType="">

    </select> -->
</mapper>