<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <title>MyPetStore</title>
</head>
<body>
<div th:replace="common/top">
</div>
<div class="layui-carousel" id="test1" style="height: 700px;">
    <div carousel-item style="height: 700px;">
        <div><a href="/catelog/viewCategory?categoryId=DOGS"><img src="/images/dog.jpeg" width="100%" height="700px"></a></div>
        <div><a href="/catelog/viewCategory?categoryId=CATS"><img src="/images/cat.jpeg" width="100%" height="700px"></a></div>
        <div><a href="/catelog/viewCategory?categoryId=FISH"><img src="/images/fisher.jpg" width="100%" height="700px"></a></div>
        <div><a href="/catelog/viewCategory?categoryId=BIRDS"><img src="/images/birds.jpeg" width="100%" height="700px"></a></div>
        <div><a href="/catelog/viewCategory?categoryId=REPTILES"><img src="/images/dogindex.jpg" width="100%" height="700px"></a></div>
    </div>
</div>
<div style="background:#f2f2f2;height: 150px;text-align: center" >
    <br>
    <i class="layui-icon layui-icon-gift font main" style="font-size: 30px; color: #393D49"> ALL CATEGORIES</i>
    <br>
    <hr class="layui-bg-black">
</div>
<div class="layui-row main">
    <div class="layui-col-xs3">
        <a href="/catelog/viewCategory?categoryId=CATS">
            <div class="grid-demo grid-demo-bg1 main" style="background: #F0F0F0"><h1>CATS</h1></div>
        </a>
    </div>
    <div class="layui-col-xs3" style="background: #e2e2e2">
        <a href="/catelog/viewCategory?categoryId=DOGS">
            <div class="grid-demo main"><h1>DOGS</h1></div>
        </a>
    </div>
    <div class="layui-col-xs3" style="background: #F0F0F0">
        <a href="/catelog/viewCategory?categoryId=BIRDS">
            <div class="grid-demo grid-demo-bg1 main"><h1>BIRDS</h1></div>
        </a>
    </div>
    <div class="layui-col-xs3" style="background: #e2e2e2">
        <a href="/catelog/viewCategory?categoryId=REPTILES">
            <div class="grid-demo main"><h1>REPTILES</h1></div>
        </a>
    </div>
</div>
<div class="layui-row main">
    <div class="layui-col-xs3" style="background: #e2e2e2">
        <a href="/catelog/viewCategory?categoryId=FISH">
            <div class="grid-demo grid-demo-bg1 main"><h1>FISH</h1></div>
        </a>
    </div>
    <div class="layui-col-xs3" style="background: #F0F0F0">
        <a href="/catelog/viewCategory?categoryId=TIGER">
            <div class="grid-demo main"><h1>TIGER</h1></div>
        </a>
    </div>
    <div class="layui-col-xs3" style="background: #e2e2e2">
        <a href="/catelog/viewCategory?categoryId=PANDA">
            <div class="grid-demo grid-demo-bg1 main"><h1>PANDA</h1></div>
        </a>
    </div>
    <div class="layui-col-xs3" style="background: #F0F0F0">
        <a href="/catelog/viewCategory?categoryId=GIRAFFE">
            <div class="grid-demo main"><h1>GIRAFFE</h1></div>
        </a>
    </div>
</div>
<div style="background:#f2f2f2;height: 150px;text-align: center" >
    <br>
    <i class="layui-icon layui-icon-heart font main" style="font-size: 30px; color: #393D49"> HOT PRODUCTS</i>
    <br>
    <hr class="layui-bg-black">
</div>
<div class="layui-row main2">
    <div class="layui-col-xs12 layui-col-md8">
        <img src="/images/cat1.gif" height="200">
    </div>
</div>
<div class="layui-row main2">
    <div class="layui-col-xs12 layui-col-md8">
        <img src="/images/dog4.gif" height="200">
    </div>
</div>
<div class="layui-row main2">
    <div class="layui-col-xs12 layui-col-md8">
        <img src="/images/bird2.gif" height="200">
    </div>
</div>
<div class="layui-row main2">
    <div class="layui-col-xs12 layui-col-md8">
        <img src="/images/fish3.gif" height="200">
    </div>
</div>
<!--    <div id="Content">-->
<!--        <div id="Welcome">-->
<!--            <div id="WelcomeContent">-->
<!--                Welcome to MyPetStore!-->
<!--            </div>-->
<!--        </div>-->
<!--        <div id="Main">-->
<!--            <div id="Sidebar">-->
<!--                <div id="SidebarContent">-->
<!--                    <a href="/catelog/viewCategory?categoryId=FISH"><img src="../images/fish_icon.gif" /></a>-->
<!--                    <br/> Saltwater, Freshwater <br/>-->
<!--                    <a href="/catelog/viewCategory?categoryId=DOGS"><img src="../images/dogs_icon.gif" /></a>-->
<!--                    <br /> Various Breeds <br />-->
<!--                    <a href="/catelog/viewCategory?categoryId=CATS"><img src="../images/cats_icon.gif" /></a>-->
<!--                    <br /> Various Breeds, Exotic Varieties <br />-->
<!--                    <a href="/catelog/viewCategory?categoryId=REPTILES"><img src="../images/reptiles_icon.gif" /></a>-->
<!--                    <br /> Lizards, Turtles, Snakes <br />-->
<!--                    <a href="/catelog/viewCategory?categoryId=BIRDS"><img src="../images/birds_icon.gif" /></a>-->
<!--                    <br /> Exotic Varieties-->
<!--                </div>-->
<!--            </div>-->
<!--            <div id="MainImage">-->
<!--                <div id="MainImageContent">-->
<!--                    <map name="estoremap">-->
<!--                        <area alt="Birds" coords="72,2,280,250" href="/catelog/viewCategory?categoryId=BIRDS" shape="rect" />-->
<!--                        <area alt="Fish" coords="2,180,72,250" href="/catelog/viewCategory?categoryId=FISH" shape="rect" />-->
<!--                        <area alt="Dogs" coords="60,250,130,320" href="/catelog/viewCategory?categoryId=DOGS" shape="rect" />-->
<!--                        <area alt="Reptiles" coords="140,270,210,340" href="/catelog/viewCategory?categoryId=REPTILES" shape="rect" />-->
<!--                        <area alt="Cats" coords="225,240,295,310" href="/catelog/viewCategory?categoryId=CATS" shape="rect" />-->
<!--                        <area alt="Birds" coords="280,180,350,250" href="/catelog/viewCategory?categoryId=BIRDS" shape="rect" />-->
<!--                    </map>-->
<!--                    <img height="355" src="../images/splash.gif" align="middle" usemap="#estoremap" width="350" />-->
<!--                </div>-->
<!--            </div>-->
<!--            <div id="Separator">&nbsp;</div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div th:replace="common/bottom">-->
<!--    </div>-->
<script src="../layui/layui.js"></script>
<script src="../layui/layui.all.js"></script>
<script>
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //????
        carousel.render({
            elem: '#test1'
            , width: '100%',
            height: '700px',//??????
            // , arrow: 'always' //??????
            // , anim: 'fade',//??????
            interval: 1500//????
        });
    });
</script>
</body>
</html>